* {
    box-sizing: border-box !important;
}

body, #root {
    min-height: 100vh;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: var(--default-fonts);

    margin: 0;

    background-color: var(--bg-color);
}

h1, h2, h3 {
    font-family: 'Quicksand', var(--default-fonts);
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}