.table-general-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin: 10px;
}

.table-general-container small.dica {
    font-size: 15px;
    margin: 10px;
}

.table-general-container .table-tag-container {
    min-width: 100%;
    max-width: calc(100vw - 20px);
    overflow-x: auto;
}

.table-general-container table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}

.table-general-container table thead {
    font-family: 'Quicksand', var(--default-fonts);
}

.table-general-container table th {
    background-color: #111111;
    color: white;
    font-weight: normal;
}


.table-general-container table td, .table-general-container table th {
    padding: 20px 25px;
    word-wrap: normal;
}

.table-general-container table tr:not(.not-clickable) {
    cursor: pointer;
}

.table-general-container table tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

.table-general-container table tr:nth-child(even) {
    background-color: rgb(220, 220, 220);
}

.table-general-container table tr:hover {
    background-color: rgb(200, 200, 200);
}



.table-general-container table th.col-nome-cliente {
    width: 40%;
}

.table-general-container table th.col-data-entrega {
    width: 10%;
}

.table-general-container table th.col-endereco-partida,
.table-general-container table th.col-endereco-chegada {
    width: 25%;
}